.header-container {
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  gap: 0.5rem;
}

.header-container > h1 {
  font-size: 1.5rem;
}

.myorders {
  margin-left: auto;
  font-size: 1.2rem;
  color: rgb(70, 65, 65);
  font-weight: bold;
}

.cart {
  position: relative;
}

.no-of-items-in-cart {
  position: absolute;
  top: -6px;
  right: -4px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgb(192, 125, 0);
  /* background-color: darkorange; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.6rem;
}

.no-of-items-in-cart > p {
  margin: 0;
  font-size: 0.6rem;
}

.icon-size {
  font-size: xx-large;
}
