.header-container {
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  gap: 0.5rem;
}

.header-container > h1 {
  font-size: 1.5rem;
}

.link {
  text-decoration: none;
  color: inherit;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #475569;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.logout-desktop-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 10px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: rgb(192, 125, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  margin-left: 1rem;
}

.myorders {
  margin-left: auto;
  font-size: 1.2rem;
  color: rgb(70, 65, 65);
  font-weight: bold;
}

.cart {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.no-of-items-in-cart {
  position: absolute;
  top: -6px;
  right: -4px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgb(192, 125, 0);
  /* background-color: darkorange; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.6rem;
}

.no-of-items-in-cart > p {
  margin: 0;
  font-size: 0.6rem;
}

.icon-size {
  font-size: xx-large;
}

.nav-bar-img {
  width: 24px;
}

.cart-count-badge {
  background-color: #bfdbfe;
  color: #0967d2;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  border-radius: 50%;
  padding-left: 5px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-left: 8px;
}

.cart-count-badge {
  background-color: #e6f6ff;
}
